@keyframes chatFadeInAristote {
  0% {
    transform: translateY(-160px);
  }
  25% {
    opacity: 1;
    transform: translateY(-160px);
  }
  50% {
    /* 1s */
    opacity: 1;
    transform: translateY(-80px);
  }
  75% {
    /* 1.5s */
    opacity: 1;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(-0px);
  }
}
@keyframes chatFadeInPlaton {
  0% {
    transform: translateY(-80px);
  }
  25% {
    opacity: 1;
    transform: translateY(-80px);
  }
  50% {
    /* 0.5s +1s */
    opacity: 1;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(-0px);
  }
}
@keyframes chatFadeInSocrate {
  0% {
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.chats-screen__socrate {
  opacity: 0;
  display: flex;
  animation: chatFadeInSocrate 0.2s ease-in-out forwards;
  animation-delay: 1.8s;
}
.chats-screen__platon {
  opacity: 0;
  animation: chatFadeInPlaton 1s ease-in-out forwards;
  animation-delay: 1s;
}
.chats-screen__aristote {
  opacity: 0;
  animation: chatFadeInAristote 2s ease-in-out forwards;
}
