#friends-display-link {
  position: fixed;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0px;
  background-color: #fafafa;
  font-size: 18px;
  margin-bottom: 15px;
  top: 105px;
  z-index: 1;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  position: absolute;
  width: 100%;
  margin-top: 165px;
  padding: 0px var(--horizontal-space);
}

.friends-screen__favoris {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__favoris .user-component {
  margin-bottom: 10px;
}

.friends-screen__favoris-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--silver);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 170px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
#splash-screen span {
  font-family: "Hanalei Fill", cursive;
  color: rgb(255, 255, 255);
  font-size: 32px;
  margin: 0px 10px;
  opacity: 0;
  animation: eureka 1s ease-in-out forwards;
}
@keyframes eureka {
  0% {
    transform: none;
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scaleY(3);
  }
  100% {
    opacity: 1;
    transform: scaleY(2);
  }
}

#splash-screen span:nth-child(2) {
  animation-delay: 0.1s;
}
#splash-screen span:nth-child(3) {
  animation-delay: 0.2s;
}
#splash-screen span:nth-child(4) {
  animation-delay: 0.3s;
}
#splash-screen span:nth-child(5) {
  animation-delay: 0.4s;
}
#splash-screen span:last-child {
  animation-delay: 0.5s;
}

/* #splash-screen .philos-talk {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--baseColor);
  padding: 30px;
  font-size: 32px;
  border-radius: 60px;
} */
