.screen-header {
  display: flex;
  position: fixed;
  width: 100%;
  margin-top: 26px;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__dot {
  position: absolute;
  display: inline;
  top: 25px;
  right: 20px;
}
